<h1><%= @list.name%></h1>
<%= link_to "Back movie list", lists_path %>
<h2><%= link_to "Delete 🔪",
            list_path,
            method: :delete,
            data: { confirm: "Are you sure zebi?" } %></h2>

<%= link_to "Add a movie", new_list_bookmark_path(@list)%>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.comment %> | <%= bookmark.movie.title %>
    </li>
  <% end %>
</ul>
